body {
background-color: #D9BFA0; /*цвет фона*/
background:url(photo3.jpg); /* Фоновый цвет и фоновый рисунок*/
color: #522719; /*Цвет текста на странице*/
background-attachment: fixed; /* Фон страницы фиксируется */
background-repeat: repeat-x; /* Изображение повторяется по горизонтали*/
font:16px "Century Gothic";/*шрифт!!!!!!!*/
text-decoration:none;
/*font-weight: 0;*/
}

.wrapper {
margin: 0 auto ;/*центрируем блок с классом wrapper*/
overflow: hidden;
width: 1000px;/*ширина блока wrapper*/

}
.header {
/* убралa position:fixed;/*фиксируем блок с классом header*/
width: 1000px;/*ширина шапки*/
height: 140px;/*высота шапки*/
/*background-color: #213D19*/}

.menu {
margin: 0 auto;/*центрируем блок с классом wrapper*/
overflow: hidden;
width: 1000px; /*ширина панели меню*/
/*height: 70px /*высота панели меню*/
margin-top: 0px;/*отступ сверху*/
/*border-radius: 2px;/*Закругление углов*/
/*color: #0D2426;
/*-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border: 1px solid #42340F;*/
/*box-shadow:3px 3px 5px 0px #42340F;/*тень*/
position: fixed;
top: 0;
background-color: #1A403C;
opacity: .8;/*прозрачность*/
}
.menu ul li {
list-style:none;/*убираем маркеры*/
float:right;/*выравнивание по right краю*/
padding:25px 15px 10px 0px;/*отступы*/}
.menu ul li a, span {
font:25px "Century Gothic";/*шрифт!!!!!!!*/
color:#fad201; /*цвет текста*/
text-decoration:none;} /* убираем подчёркивание */
span {
/* лого тут*/
float: left;
margin: 25px  /*отодвигаем слова и тем самым делаем меню короче*/  20px;} 
h1 h2 h3  {
padding-left: 20px;
padding-bottom: 20px;
font-weight: 18px "Century Gothic";
color:#000;
width: 960px; /*выравниваем по шапке*/
margin: 0 auto;}
p {
padding: 0 20px 20px 20px;
font:18px "Century Gothic";
width: 960px;
margin: 0 auto;
}
.footer {
    width:1000px;
    margin:100px auto;/* расстояние от основного текста*/
    background-color: 321912;
    } /*ничего, но надо попробовать с размером и фотоном поиграть*/
 .footer_main {
    margin-top:100px; /*растояние от основной страницы*/
  color: #522719;

    /* width: 1000px;* эта херь двигает текст влево*/ 
}
 .footer-title{
    text-align: center;

}

.tet_header{
    text-align: center;

}
 .clear_footer,.b-footer__social,.bem_sitemap {
    margin-top:10px;
    margin-left:16px;/*18*/
    margin-right: 30px;
    padding-left:2px;/*26*/
    float:left; 
}/* фон стал черным текст центрировался. не трогай.*/
.size_block {
    width: 280px;
}/* столбцы стали уже
поменяла цифру на 333 - вышла вообще какая-та херня*/
.description {
    width:295px;
}
 .btext {
    text-align: justify;}
.b-sitemap__links {
    /*float:center;*/
    text-align: justify;
} /* текст становится в одну шeренгу*/ 
.glow_undecorate {

    /*color: #FAF4F2
 /*цвет текста*/ 
}
.b-link_block {

    margin-top:15px;
    margin-bottom:50px;/*расстояние снизу*/
    display:block;
    }/*растояние между строками*/
